Repository cubic3d/ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, area/infratructure

.github/labeler.yaml:

# Areas
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/infratructure:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/*"

envoy(prepare): fix deployment
  kubernetes/apps/network/ingress-nginx/ks.yaml
  kubernetes/apps/network/kustomization.yaml
Labels: area/kubernetes

envoy(prepare): fix deployment
  kubernetes/apps/network/envoy-gateway/app/helmrelease.yaml
  kubernetes/apps/network/envoy-gateway/app/ocirepository.yaml
Labels: area/kubernetes

envoy: deploy gateway
  kubernetes/apps/network/envoy-gateway/config/envoy.yaml
  kubernetes/apps/network/envoy-gateway/config/external.yaml
  kubernetes/apps/network/envoy-gateway/config/https-redirect.yaml
  kubernetes/apps/network/envoy-gateway/config/internal.yaml
  kubernetes/apps/network/envoy-gateway/config/kustomization.yaml
  kubernetes/apps/network/envoy-gateway/config/resources/block-user-agents.lua
Labels: area/kubernetes

envoy: proxyprotocol and quic do not work together
  kubernetes/apps/network/envoy-gateway/config/envoy.yaml
Labels: area/kubernetes

mealie: migrate to gateway
  kubernetes/apps/hosted/mealie/app/helmrelease.yaml
Labels: area/kubernetes

k8s-gateway: watch gateway crds
  kubernetes/apps/network/k8s-gateway/app/helmrelease.yaml
Labels: area/kubernetes

envoy: set externaltrafficpolicy to cluster
  kubernetes/apps/network/envoy-gateway/config/envoy.yaml
Labels: area/kubernetes

bootstrap: make envoy crds available on bootstrap
  kubernetes/bootstrap/helmfile.d/00-crds.yaml
Labels: area/kubernetes

esp-home: migrate ingress to httproute
  kubernetes/apps/automation/esphome/app/helmrelease.yaml
Labels: area/kubernetes

esp-home: migrate ingress to httproute
  kubernetes/apps/auth/authelia/app/referencegrant.yaml
  kubernetes/apps/automation/esphome/app/helmrelease.yaml
  kubernetes/apps/automation/esphome/ks.yaml
  kubernetes/components/auth/kustomization.yaml
  kubernetes/components/auth/securitypolicy.yaml
Labels: area/kubernetes

esphome: restructure
  kubernetes/apps/automation/esphome/app/helmrelease.yaml
  kubernetes/apps/automation/esphome/ks.yaml
Labels: area/kubernetes

esphome: fix httproutes
  kubernetes/apps/automation/esphome/app/helmrelease.yaml
Labels: area/kubernetes

esphome: rename securitypolicies
  kubernetes/apps/automation/esphome/app/helmrelease.yaml
Labels: area/kubernetes

n8n: migrate to httproutes
  kubernetes/apps/automation/n8n/app/helmrelease.yaml
Labels: area/kubernetes

multi: migrate to httproutes
  kubernetes/apps/auth/authelia/app/referencegrant.yaml
  kubernetes/apps/automation/node-red/app/helmrelease.yaml
  kubernetes/apps/automation/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/automation/zigbee2mqtt/ks.yaml
  kubernetes/apps/hosted/changedetection/app/helmrelease.yaml
  kubernetes/apps/hosted/changedetection/ks.yaml
  kubernetes/apps/hosted/shlink/frontend/helmrelease.yaml
  kubernetes/apps/hosted/shlink/ks.yaml
  kubernetes/apps/hosted/silverbullet/app/helmrelease.yaml
  kubernetes/apps/hosted/silverbullet/ks.yaml
  kubernetes/apps/hosted/vikunja/app/helmrelease.yaml
  kubernetes/apps/media/audiobookshelf/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/ks.yaml
  kubernetes/apps/media/grimmory/app/helmrelease.yaml
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/apps/media/maintainerr/app/helmrelease.yaml
  kubernetes/apps/media/maintainerr/ks.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/ks.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/ks.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/ks.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/ks.yaml
  kubernetes/apps/media/shelfmark/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/ks.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/apps/nx/nx-manager/app/helmrelease.yaml
  kubernetes/apps/system/kopia/app/helmrelease.yaml
Labels: area/kubernetes

multi: fix httproutes
  kubernetes/apps/hosted/shlink/ks.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

multi: migrate to httproutes
  kubernetes/apps/auth/authelia/app/helmrelease.yaml
  kubernetes/apps/automation/home-assistant/app/helmrelease.yaml
  kubernetes/apps/automation/home-assistant/ks.yaml
  kubernetes/apps/automation/windmill/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/github/webhook/ingress.yaml
  kubernetes/apps/hosted/shlink/server/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/httproute.yaml
  kubernetes/apps/longhorn-system/longhorn/app/helmrelease.yaml
  kubernetes/apps/longhorn-system/longhorn/ks.yaml
  kubernetes/apps/media/bookboss/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/seerr/app/helmrelease.yaml
  kubernetes/apps/network/cloudflared/app/dnsEndpoint.yaml
  kubernetes/apps/network/cloudflared/app/helmrelease.yaml
  kubernetes/apps/network/speedtest/app/helmrelease.yaml
  kubernetes/apps/network/speedtest/ks.yaml
Labels: area/kubernetes

shlink: fix httproutes
  kubernetes/apps/hosted/shlink/ks.yaml
Labels: area/kubernetes

external-dns: enable gateway api handling
  kubernetes/apps/network/external-dns/external/helmrelease.yaml
Labels: area/kubernetes

external-dns: restrict to external only
  kubernetes/apps/network/external-dns/external/helmrelease.yaml
Labels: area/kubernetes

bookboss: fix httproutes
  kubernetes/apps/media/bookboss/app/helmrelease.yaml
Labels: area/kubernetes

ingress-nginx: undeploy
  kubernetes/apps/network/cloudflared/ks.yaml
  kubernetes/apps/network/envoy-gateway/config/external.yaml
  kubernetes/apps/network/envoy-gateway/config/internal.yaml
  kubernetes/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/external/ocirepository.yaml
  kubernetes/apps/network/ingress-nginx/internal/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/internal/ocirepository.yaml
  kubernetes/apps/network/ingress-nginx/ks.yaml
  kubernetes/apps/network/kustomization.yaml
Labels: area/kubernetes

publish-k8s-schemas: use new extractor
  kubernetes/apps/system/publish-k8s-schemas/app/helmrelease.yaml
Labels: area/kubernetes

publish-k8s-schemas: use new extractor
  kubernetes/apps/system/publish-k8s-schemas/app/helmrelease.yaml
Labels: area/kubernetes

publish-k8s-schemas: fix typo
  kubernetes/apps/system/publish-k8s-schemas/app/helmrelease.yaml
Labels: area/kubernetes

repo: cleanup todos
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/apps/database/crunchy-postgres-operator/cluster/postgrescluster.yaml
  kubernetes/apps/kube-system/metrics-server/app/helmrelease.yaml
  kubernetes/apps/network/external-dns/external/helmrelease.yaml
  kubernetes/apps/secrets/external-secrets/app/helmrelease.yaml
  kubernetes/apps/system/node-feature-discovery/app/helmrelease.yaml
  kubernetes/apps/system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

mealie: ai settings are now in ui
  kubernetes/apps/hosted/mealie/app/externalsecret.yaml
  kubernetes/apps/hosted/mealie/app/helmrelease.yaml
Labels: area/kubernetes

Revert "fix(container): update talos group ( v1.13.2 → v1.13.3 )"
  kubernetes/apps/system-upgrade/tuppr/upgrades/talos.yaml
  kubernetes/talos/machineconfig.yaml.j2
Labels: area/kubernetes

ci,just: use flate
  .github/workflows/flux-local.yaml
  .mise.toml
  kubernetes/mod.just
Labels: area/ci, area/kubernetes

freshrss: deploy
  kubernetes/apps/auth/authelia/app/helmrelease.yaml
  kubernetes/apps/hosted/freshrss/app/externalsecret.yaml
  kubernetes/apps/hosted/freshrss/app/helmrelease.yaml
  kubernetes/apps/hosted/freshrss/app/ocirepository.yaml
  kubernetes/apps/hosted/freshrss/ks.yaml
  kubernetes/apps/hosted/kustomization.yaml
Labels: area/kubernetes

authelia: remove trailing slash
  kubernetes/apps/auth/authelia/app/helmrelease.yaml
Labels: area/kubernetes

authelia: try including the port
  kubernetes/apps/auth/authelia/app/helmrelease.yaml
Labels: area/kubernetes

authelia: revert callback url
  kubernetes/apps/auth/authelia/app/helmrelease.yaml
Labels: area/kubernetes

freshrss: actually use the provided secret
  kubernetes/apps/hosted/freshrss/app/helmrelease.yaml
Labels: area/kubernetes

talos: version handling
  .renovate/custom-managers.json5
  kubernetes/talos/machineconfig.yaml.j2
  kubernetes/talos/mod.just
  kubernetes/talos/version.yaml
Labels: area/kubernetes

maintainerr: add probes
  kubernetes/apps/media/maintainerr/app/helmrelease.yaml
Labels: area/kubernetes

mise: ubi to github
  .mise.toml
Labels: none

ci: rename flux-local to flate
  .github/workflows/flate.yaml
Labels: area/ci

ci: try to ignore mise config from repo
  .github/workflows/flate.yaml
Labels: area/ci

Revert "fix(helm): update chart windmill ( 4.0.174 → 4.0.175 )"
  kubernetes/apps/automation/windmill/app/helmrelease.yaml
Labels: area/kubernetes
