Repository cubic3d/ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, area/infratructure

.github/labeler.yaml:

# Areas
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/infratructure:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/*"

talos: prepare new config for 1.14
  kubernetes/mod.just
  kubernetes/talos/cluster.yaml.j2
  kubernetes/talos/controlplane.yaml.j2
  kubernetes/talos/machineconfig.yaml.j2
  kubernetes/talos/mod.just
  kubernetes/talos/nodes/controlplane/nabiki.yaml.j2
  kubernetes/talos/nodes/controlplane/ryoga.yaml.j2
  kubernetes/talos/nodes/controlplane/ukyo.yaml.j2
  kubernetes/talos/nodes/worker/akane.yaml.j2
  kubernetes/talos/nodes/worker/kasumi.yaml.j2
  kubernetes/talos/schematic.yaml.j2
  kubernetes/talos/worker.yaml.j2
Labels: area/kubernetes

multi: rework bootstrap
  kubernetes/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/bootstrap/helmfile.d/templates/values.yaml.gotmpl
  kubernetes/bootstrap/helmfile/apps.yaml
  kubernetes/bootstrap/helmfile/crds.yaml
  kubernetes/bootstrap/helmfile/default.yaml
  kubernetes/bootstrap/helmfile/templates/release.yaml.gotmpl
  kubernetes/bootstrap/helmfile/templates/values.yaml.gotmpl
  kubernetes/bootstrap/mod.just
Labels: area/kubernetes

just: refactor
  infrastructure/vyos/mod.just
  justfile
Labels: area/infratructure

multi: remove some dependsOn
  kubernetes/apps/auth/authelia/ks.yaml
  kubernetes/apps/automation/echomuse/ks.yaml
  kubernetes/apps/automation/esphome/ks.yaml
  kubernetes/apps/automation/govee2mqtt/ks.yaml
  kubernetes/apps/automation/home-assistant/ks.yaml
  kubernetes/apps/automation/kindle-dashboard/ks.yaml
  kubernetes/apps/automation/matter-server/ks.yaml
  kubernetes/apps/automation/music-assistant/ks.yaml
  kubernetes/apps/automation/node-red/ks.yaml
  kubernetes/apps/automation/windmill/ks.yaml
  kubernetes/apps/automation/zigbee2mqtt/ks.yaml
  kubernetes/apps/database/crunchy-postgres-operator/ks.yaml
  kubernetes/apps/game/palworld/ks.yaml
  kubernetes/apps/hosted/changedetection/ks.yaml
  kubernetes/apps/hosted/freshrss/ks.yaml
  kubernetes/apps/hosted/mealie/ks.yaml
  kubernetes/apps/hosted/shlink/ks.yaml
  kubernetes/apps/hosted/silverbullet/ks.yaml
  kubernetes/apps/longhorn-system/longhorn/ks.yaml
  kubernetes/apps/media/audiobookshelf/ks.yaml
  kubernetes/apps/media/bazarr/ks.yaml
  kubernetes/apps/media/bookboss/ks.yaml
  kubernetes/apps/media/jellyfin/ks.yaml
  kubernetes/apps/media/maintainerr/ks.yaml
  kubernetes/apps/media/plex/ks.yaml
  kubernetes/apps/media/prowlarr/ks.yaml
  kubernetes/apps/media/qbittorrent/ks.yaml
  kubernetes/apps/media/radarr/ks.yaml
  kubernetes/apps/media/recyclarr/ks.yaml
  kubernetes/apps/media/sabnzbd/ks.yaml
  kubernetes/apps/media/seerr/ks.yaml
  kubernetes/apps/media/shelfmark/ks.yaml
  kubernetes/apps/media/sonarr/ks.yaml
  kubernetes/apps/media/tautulli/ks.yaml
  kubernetes/apps/network/cloudflared/ks.yaml
  kubernetes/apps/network/external-dns/ks.yaml
  kubernetes/apps/nx/nx-manager/ks.yaml
  kubernetes/apps/secrets/external-secrets/ks.yaml
  kubernetes/apps/system/kopiur/ks.yaml
  kubernetes/apps/system/publish-k8s-schemas/ks.yaml
Labels: area/kubernetes

k8s-gateway: update chart repo
  kubernetes/apps/network/k8s-gateway/app/ocirepository.yaml
Labels: area/kubernetes

jellyfin: upgrade to 12
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes

multi: fix external-dns prefix
  kubernetes/apps/database/mosquitto/app/helmrelease.yaml
  kubernetes/apps/game/palworld/app/dnsendpoint.yaml
  kubernetes/apps/game/palworld/app/helmrelease.yaml
  kubernetes/apps/network/envoy-gateway/config/external.yaml
  kubernetes/apps/network/envoy-gateway/config/https-redirect.yaml
  kubernetes/apps/network/envoy-gateway/config/internal.yaml
Labels: area/kubernetes

talos: add talosconfig generation
  kubernetes/bootstrap/mod.just
Labels: area/kubernetes

talos: media volume on akane only
  kubernetes/talos/cluster.yaml.j2
  kubernetes/talos/nodes/worker/akane.yaml.j2
Labels: area/kubernetes

talos: disable search domain from DHCP
  kubernetes/talos/cluster.yaml.j2
Labels: area/kubernetes

longhorn: change default path
  kubernetes/apps/longhorn-system/longhorn/app/helmrelease.yaml
Labels: area/kubernetes

cilium: switch hubble tls to certmanager
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

cilium: remove tls
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

openebs: new storage path
  kubernetes/apps/openebs/openebs/app/helmrelease.yaml
Labels: area/kubernetes

talos: fix worker and add validation
  kubernetes/talos/mod.just
  kubernetes/talos/worker.yaml.j2
Labels: area/kubernetes

just: refactor templating and fix talos pem rendering
  .minijinja.toml
  justfile
  kubernetes/talos/cluster.yaml.j2
  kubernetes/talos/controlplane.yaml.j2
  kubernetes/talos/nodes/controlplane/nabiki.yaml.j2
  kubernetes/talos/nodes/controlplane/ryoga.yaml.j2
  kubernetes/talos/nodes/controlplane/ukyo.yaml.j2
  kubernetes/talos/nodes/worker/akane.yaml.j2
  kubernetes/talos/nodes/worker/kasumi.yaml.j2
Labels: area/kubernetes

talos: remove wrong copy pasta dns server
  kubernetes/talos/cluster.yaml.j2
Labels: area/kubernetes

talos: fix cert merging
  kubernetes/talos/cluster.yaml.j2
  kubernetes/talos/controlplane.yaml.j2
Labels: area/kubernetes

multi: update s3 server
  kubernetes/apps/database/crunchy-postgres-operator/cluster/postgrescluster.yaml
  kubernetes/apps/system/kopiur/ressources/repositoryreplication.yaml
Labels: area/kubernetes

project-zomboid: deploy
  kubernetes/apps/game/kustomization.yaml
  kubernetes/apps/game/project-zomboid/app/dnsendpoint.yaml
  kubernetes/apps/game/project-zomboid/app/externalsecret.yaml
  kubernetes/apps/game/project-zomboid/app/helmrelease.yaml
  kubernetes/apps/game/project-zomboid/app/ocirepository.yaml
  kubernetes/apps/game/project-zomboid/app/pvc.yaml
  kubernetes/apps/game/project-zomboid/ks.yaml
Labels: area/kubernetes

project-zomboid: fix permissions
  kubernetes/apps/game/project-zomboid/app/helmrelease.yaml
Labels: area/kubernetes

multi: use k8s-gateway compatible annotation for local resolution
  kubernetes/apps/database/mosquitto/app/helmrelease.yaml
  kubernetes/apps/game/palworld/app/helmrelease.yaml
  kubernetes/apps/game/project-zomboid/app/helmrelease.yaml
  kubernetes/apps/network/envoy-gateway/config/external.yaml
  kubernetes/apps/network/envoy-gateway/config/internal.yaml
Labels: area/kubernetes

socketpuppetbrowser: add empty dir to .local
  kubernetes/apps/hosted/changedetection/sockpuppetbrowser/helmrelease.yaml
Labels: area/kubernetes

socketpuppetbrowser: try to fix container
  kubernetes/apps/hosted/changedetection/sockpuppetbrowser/helmrelease.yaml
Labels: area/kubernetes

just: use custom pod definition for browsing pvc
  kubernetes/mod.just
Labels: area/kubernetes

dragonfly: operator no longer manages network policies
  kubernetes/apps/database/dragonfly/cluster/cluster.yaml
Labels: area/kubernetes

talos: remove lsm line from kernel args
  kubernetes/talos/schematic.yaml.j2
Labels: area/kubernetes

just: fix cluster apply
  kubernetes/talos/mod.just
Labels: area/kubernetes

zfs-scrub: avoid nsenter
  kubernetes/apps/system/zfs-scrub/slow/helmrelease.yaml
Labels: area/kubernetes

zfs-scrub: fix host mount path
  kubernetes/apps/system/zfs-scrub/slow/helmrelease.yaml
Labels: area/kubernetes

multi: enable ipv6 connectivity
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/talos/cluster.yaml.j2
Labels: area/kubernetes

cilium: disable ipv6 for now
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

cilium: enable ipv6
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

repo: add small ai guidance
  AGENTS.md
Labels: none

k8s-gateway: upgrade to 4.0.0
  kubernetes/apps/network/k8s-gateway/app/helmrelease.yaml
  kubernetes/apps/network/k8s-gateway/app/ocirepository.yaml
Labels: area/kubernetes

ci: use tj-actions/changed-files
  .github/workflows/flate.yaml
Labels: area/ci

envoy-gateway: use reset-before-request
  kubernetes/apps/network/envoy-gateway/config/envoy.yaml
Labels: area/kubernetes
