Repository cubic3d/ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, area/infratructure

.github/labeler.yaml:

# Areas
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/infratructure:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/*"

just: update talos tasks
  kubernetes/talos/mod.just
Labels: area/kubernetes

just: update talos tasks
  kubernetes/talos/mod.just
Labels: area/kubernetes

talos: ResourceHealthStatus not needed anymore, fixed in k8s
  kubernetes/talos/machineconfig.yaml.j2
Labels: area/kubernetes

descheduler: update config
  kubernetes/apps/system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

multus: move to chart with included crds
  kubernetes/apps/network/multus/app/helmrelease.yaml
  kubernetes/apps/network/multus/app/kustomization.yaml
  kubernetes/apps/network/multus/app/ocirepository.yaml
Labels: area/kubernetes

descheduler: default evictor args
  kubernetes/apps/system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

gluetun: downgrade to 3.40.0
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

openebs: use official oci repo
  kubernetes/apps/openebs/openebs/app/ocirepository.yaml
Labels: area/kubernetes

openebs: use official oci repo
  kubernetes/apps/openebs/openebs/app/ocirepository.yaml
Labels: area/kubernetes

cilium: fix deprecated value
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

talos: forward kube dns to host
  kubernetes/talos/machineconfig.yaml.j2
Labels: area/kubernetes

kopia: remove startup probe
  kubernetes/apps/system/kopia/app/helmrelease.yaml
Labels: area/kubernetes

kopia: remove startup probe
  kubernetes/apps/system/kopia/app/helmrelease.yaml
Labels: area/kubernetes

kopia: increase probe period
  kubernetes/apps/system/kopia/app/helmrelease.yaml
Labels: area/kubernetes

vyos: add kitchen tablet to static hosts
  infrastructure/vyos/host_vars/gw/data.sops.yaml
Labels: area/infratructure

vyos: remove kitchen tablet from static hosts
  infrastructure/vyos/host_vars/gw/data.sops.yaml
Labels: area/infratructure

authelia: allow api access on media apps
  kubernetes/apps/auth/authelia/app/helmrelease.yaml
Labels: area/kubernetes

authelia: remove rules for oidc apps
  kubernetes/apps/auth/authelia/app/helmrelease.yaml
Labels: area/kubernetes

multus: let upstream handle versions
  kubernetes/apps/network/multus/app/helmrelease.yaml
Labels: area/kubernetes

flux-operator: disable network policy
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
Labels: area/kubernetes

windmill: disable privileged workers
  kubernetes/apps/automation/windmill/app/helmrelease.yaml
Labels: area/kubernetes

maintainerr: move to new image repo
  kubernetes/apps/media/maintainerr/app/helmrelease.yaml
Labels: area/kubernetes

cpgo: upgrade api version, remove unused config
  kubernetes/apps/database/crunchy-postgres-operator/cluster/postgrescluster.yaml
Labels: area/kubernetes

volsync: do not use cache
  kubernetes/components/volsync/cloud/replicationsource.yaml
  kubernetes/components/volsync/nas/replicationdestination.yaml
  kubernetes/components/volsync/nas/replicationsource.yaml
Labels: area/kubernetes

windmill: disable privileged pods
  kubernetes/apps/automation/windmill/app/helmrelease.yaml
Labels: area/kubernetes

renovate: disable talos group min size for now
  .renovate/groups.json5
Labels: none

cilium: migrate to upstream oci repo
  kubernetes/apps/kube-system/cilium/app/ocirepository.yaml
Labels: area/kubernetes

talos: remove locked fields in 1.12 config
  kubernetes/talos/machineconfig.yaml.j2
Labels: area/kubernetes

qbittorrent: give gluetun a try in handling dns
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

qbittorrent: allow new port forward discovery endpoint
  kubernetes/apps/media/qbittorrent/app/externalsecret.yaml
Labels: area/kubernetes

n8n: move to automation namespace
  kubernetes/apps/automation/kustomization.yaml
  kubernetes/apps/automation/n8n/app/externalsecret.yaml
  kubernetes/apps/automation/n8n/app/helmrelease.yaml
  kubernetes/apps/automation/n8n/app/ocirepository.yaml
  kubernetes/apps/automation/n8n/ks.yaml
  kubernetes/apps/hosted/kustomization.yaml
Labels: area/kubernetes

vyos: new wg public key
  infrastructure/vyos/host_vars/gw/data.sops.yaml
Labels: area/infratructure

repo: use 1password provided my mise
  .mise.toml
  justfile
Labels: none

volsync: remove maintenance cache
  kubernetes/apps/system/volsync/maintenance/maintenance-cloud.yaml
  kubernetes/apps/system/volsync/maintenance/maintenance-nas.yaml
Labels: area/kubernetes

kopia: make /config writable
  kubernetes/apps/system/kopia/app/helmrelease.yaml
Labels: area/kubernetes

snapshot-controller: disable webhook
  kubernetes/apps/system/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

renovate: allow working on jinja templates
  renovate.json5
Labels: none

renovate: add kubernetes group
  .renovate/groups.json5
Labels: none

mise: remove op
  .mise.toml
Labels: none

renovate: use overrides and cleanup groups
  .renovate/groups.json5
  .renovate/overrides.json5
  renovate.json5
Labels: none
