Repository cubic3d/ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, area/infratructure

renovate: kubelet matched csr approver
  .renovate/groups.json5
Labels: none

renovate: talos group
  .renovate/groups.json5
Labels: none

cilium: temporarily disable tproxy
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

vyos: migrate zigbee hardware
  infrastructure/vyos/host_vars/gw/data.sops.yaml
Labels: area/infratructure

z2m: change port
  kubernetes/apps/automation/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

silverbullet: use stable version
  kubernetes/apps/hosted/silverbullet/app/helmrelease.yaml
Labels: area/kubernetes

vyos: improve config module
  infrastructure/vyos/library/vyconf.py
Labels: area/infratructure

vyos: fix save command in config module
  infrastructure/vyos/library/vyconf.py
Labels: area/infratructure

vyos: fix config module not executing save
  infrastructure/vyos/library/vyconf.py
Labels: area/infratructure

vyos: migrate and update config
  infrastructure/vyos/host_vars/gw/data.sops.yaml
  infrastructure/vyos/roles/vyos/templates/config/ddns.j2
  infrastructure/vyos/roles/vyos/templates/config/fw_rules.j2
  infrastructure/vyos/roles/vyos/templates/config/fw_zones.j2
  infrastructure/vyos/roles/vyos/templates/config/hosts.j2
  infrastructure/vyos/roles/vyos/templates/config/interfaces.j2
  infrastructure/vyos/roles/vyos/templates/config/nat.j2
  infrastructure/vyos/roles/vyos/templates/config/system.j2
Labels: area/infratructure

vyos: disable dhcp on br0, kea's raw socket responds to all vlans with wrong pool
  infrastructure/vyos/roles/vyos/templates/config/interfaces.j2
Labels: area/infratructure

vyos: don't decrement lifetime on ra, adhere to rfc with timing
  infrastructure/vyos/roles/vyos/templates/config/interfaces.j2
Labels: area/infratructure

vyos: use unwrapped save in config module
  infrastructure/vyos/library/vyconf.py
Labels: area/infratructure

vyos: fix missing default route without explicit slaac on new version
  infrastructure/vyos/roles/vyos/templates/config/interfaces.j2
Labels: area/infratructure

seerr: migrate jellyseerr to seerr
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/seerr/app/externalsecret.yaml
  kubernetes/apps/media/seerr/app/helmrelease.yaml
  kubernetes/apps/media/seerr/app/ocirepository.yaml
  kubernetes/apps/media/seerr/app/pvc.yaml
  kubernetes/apps/media/seerr/ks.yaml
Labels: area/kubernetes

volsync: keep temp pvc (longhorn quirks)
  kubernetes/components/volsync/nas/replicationdestination.yaml
Labels: area/kubernetes

volsync: override username on restores
  kubernetes/components/volsync/nas/replicationdestination.yaml
Labels: area/kubernetes

volsync: revert override username on restores
  kubernetes/components/volsync/nas/replicationdestination.yaml
Labels: area/kubernetes

volsync: rename nas backup resources
  kubernetes/components/volsync/nas/externalsecret.yaml
  kubernetes/components/volsync/nas/replicationdestination.yaml
  kubernetes/components/volsync/nas/replicationsource.yaml
  kubernetes/components/volsync/pvc.yaml
Labels: area/kubernetes

volsync: try copy on single app
  kubernetes/apps/automation/n8n/ks.yaml
Labels: area/kubernetes

volsync: fix typo
  kubernetes/apps/automation/n8n/ks.yaml
Labels: area/kubernetes

volsync: enable cloning and tmp storage class
  kubernetes/apps/automation/n8n/ks.yaml
  kubernetes/apps/longhorn-system/longhorn/app/storageclass.yaml
  kubernetes/components/volsync/nas/replicationdestination.yaml
  kubernetes/components/volsync/nas/replicationsource.yaml
Labels: area/kubernetes

booklore deploy
  kubernetes/apps/database/crunchy-postgres-operator/cluster/postgrescluster.yaml
  kubernetes/apps/hosted/booklore/app/externalsecret.yaml
  kubernetes/apps/hosted/booklore/app/helmrelease.yaml
  kubernetes/apps/hosted/booklore/app/ocirepository.yaml
  kubernetes/apps/hosted/booklore/ks.yaml
  kubernetes/apps/hosted/kustomization.yaml
Labels: area/kubernetes

crunchy-userinit-controller: migrate to fork
  kubernetes/apps/database/crunchy-postgres-operator/userinit-controller/helmrelease.yaml
  kubernetes/apps/database/crunchy-postgres-operator/userinit-controller/helmrepository.yaml
Labels: area/kubernetes

crunchy-userinit-controller: migrate to fork
  kubernetes/apps/database/crunchy-postgres-operator/cluster/postgrescluster.yaml
Labels: area/kubernetes

cpgo: booklore does not want to work with pg
  kubernetes/apps/database/crunchy-postgres-operator/cluster/postgrescluster.yaml
  kubernetes/apps/hosted/booklore/app/externalsecret.yaml
  kubernetes/apps/hosted/booklore/app/helmrelease.yaml
Labels: area/kubernetes

booklore: fix mariadb mount typo
  kubernetes/apps/hosted/booklore/app/helmrelease.yaml
Labels: area/kubernetes

booklore: remove unused env
  kubernetes/apps/hosted/booklore/app/helmrelease.yaml
Labels: area/kubernetes

authelia: add booklore as client
  kubernetes/apps/auth/authelia/app/helmrelease.yaml
Labels: area/kubernetes

authelia: fix typo on booklore client
  kubernetes/apps/auth/authelia/app/helmrelease.yaml
Labels: area/kubernetes

authelia: make booklore client public
  kubernetes/apps/auth/authelia/app/helmrelease.yaml
Labels: area/kubernetes

authelia: fix booklore client
  kubernetes/apps/auth/authelia/app/helmrelease.yaml
Labels: area/kubernetes

authelia: fix booklore client
  kubernetes/apps/auth/authelia/app/helmrelease.yaml
Labels: area/kubernetes

authelia: disable booklore client
  kubernetes/apps/auth/authelia/app/helmrelease.yaml
Labels: area/kubernetes

booklore: remove cpgo dep
  kubernetes/apps/hosted/booklore/ks.yaml
Labels: area/kubernetes

publish-k8s-schemas: increase backoff limit
  kubernetes/apps/system/publish-k8s-schemas/app/helmrelease.yaml
Labels: area/kubernetes

recyclarr: migrate config to v8
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

publish-k8s-schemas: set backofflimit back to 0
  kubernetes/apps/system/publish-k8s-schemas/app/helmrelease.yaml
Labels: area/kubernetes

recyclarr: test german dual profile
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

booklore: move to media ns
  kubernetes/apps/hosted/kustomization.yaml
  kubernetes/apps/media/booklore/app/externalsecret.yaml
  kubernetes/apps/media/booklore/app/helmrelease.yaml
  kubernetes/apps/media/booklore/app/ocirepository.yaml
  kubernetes/apps/media/booklore/ks.yaml
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

.github/labeler.yaml:

# Areas
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/infratructure:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/*"
