Repository cubic3d/ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, area/infratructure

just: migrate some tasks
  .taskfiles/volsync/Taskfile.yaml
  kubernetes/mod.just
Labels: area/kubernetes

just: migrate some tasks
  kubernetes/mod.just
Labels: area/kubernetes

just: migrate some tasks
  .taskfiles/postgres/Taskfile.yaml
  kubernetes/mod.just
Labels: area/kubernetes

just: fix talos machine image
  kubernetes/talos/mod.just
Labels: area/kubernetes

task: remove
  .taskfiles/flux/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  Taskfile.yaml
  kubernetes/bootstrap/readme.md
Labels: area/kubernetes

just: add bootstrap
  kubernetes/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/bootstrap/mod.just
Labels: area/kubernetes

just: add hr rendering
  kubernetes/mod.just
Labels: area/kubernetes

just: rename bootstrap module
  justfile
Labels: none

just: rename bootstrap module
  kubernetes/bootstrap/mod.just
Labels: area/kubernetes

just: fix resources bootstrap
  kubernetes/bootstrap/mod.just
Labels: area/kubernetes

1password: use upstream chart
  kubernetes/apps/secrets/external-secrets/stores/onepassword.yaml
  kubernetes/apps/secrets/onepassword-connect/app/externalsecret.yaml
  kubernetes/apps/secrets/onepassword-connect/app/helmrelease.yaml
  kubernetes/apps/secrets/onepassword-connect/app/ocirepository.yaml
  kubernetes/bootstrap/resources.yaml.j2
Labels: area/kubernetes

cluster: fix secrets bootstrap
  kubernetes/bootstrap/resources.yaml.j2
Labels: area/kubernetes

ci: migrate deprecated field
  .github/workflows/flux-local.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/renovate.yaml
Labels: area/ci

intel-gpu-resource-driver: fix after update
  kubernetes/apps/kube-system/intel-gpu-resource-driver/app/helmrelease.yaml
Labels: area/kubernetes

vyos: accept wireguard via ipv6
  infrastructure/vyos/host_vars/gw/data.sops.yaml
Labels: area/infratructure

bookboss: deploy
  kubernetes/apps/media/bookboss/app/externalsecret.yaml
  kubernetes/apps/media/bookboss/app/helmrelease.yaml
  kubernetes/apps/media/bookboss/app/ocirepository.yaml
  kubernetes/apps/media/bookboss/ks.yaml
Labels: area/kubernetes

bookboss: enable
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

shelfmark: change url
  kubernetes/apps/auth/authelia/app/helmrelease.yaml
  kubernetes/apps/media/shelfmark/app/helmrelease.yaml
Labels: area/kubernetes

mealie: deploy
  kubernetes/apps/auth/authelia/app/helmrelease.yaml
  kubernetes/apps/hosted/kustomization.yaml
  kubernetes/apps/hosted/mealie/app/externalsecret.yaml
  kubernetes/apps/hosted/mealie/app/helmrelease.yaml
  kubernetes/apps/hosted/mealie/app/ocirepository.yaml
  kubernetes/apps/hosted/mealie/ks.yaml
Labels: area/kubernetes

mealie: ai config
  kubernetes/apps/hosted/mealie/app/externalsecret.yaml
  kubernetes/apps/hosted/mealie/app/helmrelease.yaml
Labels: area/kubernetes

mealie: add writable tmp
  kubernetes/apps/hosted/mealie/app/helmrelease.yaml
Labels: area/kubernetes

mealie: fix model name variable
  kubernetes/apps/hosted/mealie/app/helmrelease.yaml
Labels: area/kubernetes

mealie: change model
  kubernetes/apps/hosted/mealie/app/helmrelease.yaml
Labels: area/kubernetes

mealie: change model to free auto router
  kubernetes/apps/hosted/mealie/app/helmrelease.yaml
Labels: area/kubernetes

mealie: change model
  kubernetes/apps/hosted/mealie/app/helmrelease.yaml
Labels: area/kubernetes

mealie: change model
  kubernetes/apps/hosted/mealie/app/helmrelease.yaml
Labels: area/kubernetes

mealie: change model
  kubernetes/apps/hosted/mealie/app/helmrelease.yaml
Labels: area/kubernetes

mealie: change model
  kubernetes/apps/hosted/mealie/app/helmrelease.yaml
Labels: area/kubernetes

mealie: change model
  kubernetes/apps/hosted/mealie/app/helmrelease.yaml
Labels: area/kubernetes

bookboss: enable sso
  kubernetes/apps/auth/authelia/app/helmrelease.yaml
  kubernetes/apps/media/bookboss/app/externalsecret.yaml
  kubernetes/apps/media/bookboss/app/helmrelease.yaml
Labels: area/kubernetes

authelia: bookboss needs email in id token
  kubernetes/apps/auth/authelia/app/helmrelease.yaml
Labels: area/kubernetes

e1000e-fix: automountServiceAccountToken false is now default
  kubernetes/apps/network/e1000e-fix/app/helmrelease.yaml
Labels: area/kubernetes

publish-k8s-schemas: mount serviceaccount token
  kubernetes/apps/system/publish-k8s-schemas/app/helmrelease.yaml
Labels: area/kubernetes

bookboss: enable external sync
  kubernetes/apps/media/bookboss/app/helmrelease.yaml
Labels: area/kubernetes

just: improve
  infrastructure/vyos/mod.just
  justfile
  kubernetes/bootstrap/mod.just
  kubernetes/mod.just
  kubernetes/talos/mod.just
Labels: area/kubernetes, area/infratructure

volsync: bump mutatingadmissionpolicy api version
  kubernetes/apps/system/volsync/app/mutatingadmissionpolicy.yaml
Labels: area/kubernetes

just: fix linebreak
  kubernetes/talos/mod.just
Labels: area/kubernetes

talos: update machine config
  kubernetes/apps/kube-system/intel-gpu-resource-driver/app/helmrelease.yaml
  kubernetes/talos/machineconfig.yaml.j2
Labels: area/kubernetes

just: fix task
  kubernetes/mod.just
Labels: area/kubernetes

envoy(prepare): deploy and take over certificate
  kubernetes/apps/network/envoy-gateway/app/helmrelease.yaml
  kubernetes/apps/network/envoy-gateway/app/ocirepository.yaml
  kubernetes/apps/network/envoy-gateway/config/certificate.yaml
  kubernetes/apps/network/envoy-gateway/ks.yaml
Labels: area/kubernetes

.github/labeler.yaml:

# Areas
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/infratructure:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/*"
