Repository cubic3d/ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, area/infratructure

.github/labeler.yaml:

# Areas
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/infratructure:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/*"

shelfmark: deploy
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/shelfmark/app/helmrelease.yaml
  kubernetes/apps/media/shelfmark/app/ocirepository.yaml
  kubernetes/apps/media/shelfmark/ks.yaml
Labels: area/kubernetes

volsync: fix cloud not using clone
  kubernetes/components/volsync/cloud/replicationsource.yaml
Labels: area/kubernetes

multi: move books to regular media library
  kubernetes/apps/media/booklore/app/helmrelease.yaml
  kubernetes/apps/media/shelfmark/app/helmrelease.yaml
Labels: area/kubernetes

qbittorrent: set primary service
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

mise: add kustomize
  .mise.toml
Labels: none

mise: add helm
  .mise.toml
Labels: none

audiobookshelf: deploy
  kubernetes/apps/media/audiobookshelf/app/helmrelease.yaml
  kubernetes/apps/media/audiobookshelf/app/ocirepository.yaml
  kubernetes/apps/media/audiobookshelf/ks.yaml
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

shelfmark: fix typo
  kubernetes/apps/media/shelfmark/app/helmrelease.yaml
Labels: area/kubernetes

shelfmark: change subdomain
  kubernetes/apps/media/shelfmark/app/helmrelease.yaml
Labels: area/kubernetes

authelia: add shelfmark client
  kubernetes/apps/auth/authelia/app/helmrelease.yaml
Labels: area/kubernetes

authelia: add audiobookshelf client
  kubernetes/apps/auth/authelia/app/helmrelease.yaml
Labels: area/kubernetes

authelia: add booklore client
  kubernetes/apps/auth/authelia/app/helmrelease.yaml
Labels: area/kubernetes

authelia: fix booklore redirect uri
  kubernetes/apps/auth/authelia/app/helmrelease.yaml
Labels: area/kubernetes

authelia: configure cors for public clients
  kubernetes/apps/auth/authelia/app/helmrelease.yaml
Labels: area/kubernetes

authelia: add authz policies for oidc
  kubernetes/apps/auth/authelia/app/helmrelease.yaml
Labels: area/kubernetes

authelia: fix validation
  kubernetes/apps/auth/authelia/app/helmrelease.yaml
Labels: area/kubernetes

authelia: remove everyone policy
  kubernetes/apps/auth/authelia/app/helmrelease.yaml
Labels: area/kubernetes

flux: remove deprecated field
  kubernetes/flux/cluster/cluster.yaml
Labels: area/kubernetes

talos: migrate config to resources
  kubernetes/talos/machineconfig.yaml.j2
  kubernetes/talos/nodes/akane.yaml.j2
  kubernetes/talos/nodes/kasumi.yaml.j2
  kubernetes/talos/nodes/nabiki.yaml.j2
  kubernetes/talos/nodes/ryoga.yaml.j2
  kubernetes/talos/nodes/ukyo.yaml.j2
Labels: area/kubernetes

e1000e-fix: do not mount the system, ethtool got removed from talos
  kubernetes/apps/network/e1000e-fix/app/helmrelease.yaml
Labels: area/kubernetes

vikunja: upgrade to v2
  kubernetes/apps/hosted/vikunja/app/helmrelease.yaml
Labels: area/kubernetes

kopia: increase failure threshold on probes
  kubernetes/apps/system/kopia/app/helmrelease.yaml
Labels: area/kubernetes

tuppr: disable health checks for talos temporarily
  kubernetes/apps/system-upgrade/tuppr/upgrades/talos.yaml
Labels: area/kubernetes

tuppr: reenable health checks for talos
  kubernetes/apps/system-upgrade/tuppr/upgrades/talos.yaml
Labels: area/kubernetes

volsync: use snapshots again
  kubernetes/components/volsync/cloud/replicationsource.yaml
  kubernetes/components/volsync/nas/replicationsource.yaml
Labels: area/kubernetes

grimmory: replace booklore
  kubernetes/apps/media/grimmory/app/externalsecret.yaml
  kubernetes/apps/media/grimmory/app/helmrelease.yaml
  kubernetes/apps/media/grimmory/app/ocirepository.yaml
  kubernetes/apps/media/grimmory/ks.yaml
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

authelia: rename booklore to grimmory
  kubernetes/apps/auth/authelia/app/helmrelease.yaml
Labels: area/kubernetes

authelia: set grimmary client to secret
  kubernetes/apps/auth/authelia/app/helmrelease.yaml
Labels: area/kubernetes

authelia: add groups scope to grimmary client
  kubernetes/apps/auth/authelia/app/helmrelease.yaml
Labels: area/kubernetes

authelia: use client_secret_post with grimmary
  kubernetes/apps/auth/authelia/app/helmrelease.yaml
Labels: area/kubernetes

vyos: enable ipv6 on iot vlan
  infrastructure/vyos/host_vars/gw/data.sops.yaml
Labels: area/infratructure

vyos: send ra for ula
  infrastructure/vyos/roles/vyos/templates/config/interfaces.j2
Labels: area/infratructure

publish-k8s-schemas: use gh pages
  kubernetes/apps/system/publish-k8s-schemas/app/externalsecret.yaml
  kubernetes/apps/system/publish-k8s-schemas/app/helmrelease.yaml
Labels: area/kubernetes

publish-k8s-schemas: use gh pages
  kubernetes/apps/system/publish-k8s-schemas/app/helmrelease.yaml
Labels: area/kubernetes

publish-k8s-schemas: fix env name
  kubernetes/apps/system/publish-k8s-schemas/app/helmrelease.yaml
Labels: area/kubernetes

publish-k8s-schemas: avoid flux substitution
  kubernetes/apps/system/publish-k8s-schemas/app/helmrelease.yaml
Labels: area/kubernetes

publish-k8s-schemas: disable jekyll
  kubernetes/apps/system/publish-k8s-schemas/app/helmrelease.yaml
Labels: area/kubernetes

just: migrate some tasks
  .taskfiles/k8s/Taskfile.yaml
  .taskfiles/volsync/Taskfile.yaml
  kubernetes/mod.just
Labels: area/kubernetes

just: migrate some tasks
  .taskfiles/sops/Taskfile.yaml
  justfile
  kubernetes/mod.just
Labels: area/kubernetes

just: fmt
  infrastructure/vyos/mod.just
  justfile
  kubernetes/bootstrap/mod.just
  kubernetes/mod.just
  kubernetes/talos/mod.just
Labels: area/kubernetes, area/infratructure
