Repository cubic3d/ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, area/infratructure

ci: use bot with labeler
  .github/workflows/meta-labeler.yaml
Labels: area/ci

ci: add renovate workflow
  .github/workflows/renovate.yaml
Labels: area/ci

ci: try set embedded token for ghcr
  .github/workflows/renovate.yaml
Labels: area/ci

ci: set credentials for ghcr
  .github/workflows/renovate.yaml
Labels: area/ci

ci: set credentials for ghcr
  .github/workflows/renovate.yaml
Labels: area/ci

repo: minijinja settings, use unstable features in just
  .minijinja.toml
  .mise.toml
Labels: none

just: add kubectl fetching
  .gitignore
  .mise.toml
  justfile
  kubernetes/bootstrap/mod.just
Labels: area/kubernetes

cloudflare: update config
  kubernetes/apps/network/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

repo: global flux sops, rework sops bootstrap
  justfile
  kubernetes/apps/flux-system/flux-instance/app/externalsecret.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/secrets/onepassword-connect/app/externalsecret.yaml
  kubernetes/apps/secrets/onepassword-connect/app/secret.sops.yaml
  kubernetes/bootstrap/resources.yaml.j2
  kubernetes/components/namespace/age.sops.yaml
  kubernetes/components/namespace/kustomization.yaml
  kubernetes/flux/cluster/cluster.yaml
Labels: area/kubernetes

repo: fix ns
  kubernetes/bootstrap/resources.yaml.j2
Labels: area/kubernetes

just: add convert more bootstrapping
  kubernetes/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/bootstrap/mod.just
Labels: area/kubernetes

just: prepare talos tasks and new config style
  justfile
  kubernetes/talos/mod.just
  kubernetes/talos/schematic.yaml.j2
Labels: area/kubernetes

vikunja: deploy
  kubernetes/apps/auth/authelia/app/helmrelease.yaml
  kubernetes/apps/hosted/kustomization.yaml
  kubernetes/apps/hosted/vikunja/app/externalsecret.yaml
  kubernetes/apps/hosted/vikunja/app/helmrelease.yaml
  kubernetes/apps/hosted/vikunja/app/ocirepository.yaml
  kubernetes/apps/hosted/vikunja/ks.yaml
Labels: area/kubernetes

vikunja: disable http log
  kubernetes/apps/hosted/vikunja/app/helmrelease.yaml
Labels: area/kubernetes

vikunja: use config, env does not support oidc
  kubernetes/apps/hosted/vikunja/app/externalsecret.yaml
  kubernetes/apps/hosted/vikunja/app/helmrelease.yaml
Labels: area/kubernetes

vikunja: fix config syntax
  kubernetes/apps/hosted/vikunja/app/externalsecret.yaml
Labels: area/kubernetes

vikunja: fix config syntax
  kubernetes/apps/hosted/vikunja/app/externalsecret.yaml
Labels: area/kubernetes

authelia: fix redirect name for vikunja
  kubernetes/apps/auth/authelia/app/helmrelease.yaml
Labels: area/kubernetes

authelia: no pkce for vikunja
  kubernetes/apps/auth/authelia/app/helmrelease.yaml
Labels: area/kubernetes

just: add volsync cleanup
  justfile
  kubernetes/mod.just
Labels: area/kubernetes

coredns: upstream removed cosign
  kubernetes/apps/kube-system/coredns/app/ocirepository.yaml
Labels: area/kubernetes

vikunja: force ssl for mail
  kubernetes/apps/hosted/vikunja/app/externalsecret.yaml
Labels: area/kubernetes

vikunja: try different port
  kubernetes/apps/hosted/vikunja/app/externalsecret.yaml
Labels: area/kubernetes

vikunja: revert port
  kubernetes/apps/hosted/vikunja/app/externalsecret.yaml
Labels: area/kubernetes

vikunja: remove force ssl
  kubernetes/apps/hosted/vikunja/app/externalsecret.yaml
Labels: area/kubernetes

vikunja: try different from mail syntax
  kubernetes/apps/hosted/vikunja/app/externalsecret.yaml
Labels: area/kubernetes

vikunja: upgrade to rc
  kubernetes/apps/hosted/vikunja/app/helmrelease.yaml
Labels: area/kubernetes

vikunja: migrate config to new syntax
  kubernetes/apps/hosted/vikunja/app/externalsecret.yaml
Labels: area/kubernetes

vikunja: migrate config to new syntax
  kubernetes/apps/hosted/vikunja/app/externalsecret.yaml
Labels: area/kubernetes

n8n: deploy
  kubernetes/apps/hosted/kustomization.yaml
  kubernetes/apps/hosted/n8n/app/externalsecret.yaml
  kubernetes/apps/hosted/n8n/app/helmrelease.yaml
  kubernetes/apps/hosted/n8n/app/ocirepository.yaml
  kubernetes/apps/hosted/n8n/ks.yaml
Labels: area/kubernetes

n8n: allow write on fs
  kubernetes/apps/hosted/n8n/app/helmrelease.yaml
Labels: area/kubernetes

n8n: change user id
  kubernetes/apps/hosted/n8n/app/helmrelease.yaml
Labels: area/kubernetes

n8n: add licence key
  kubernetes/apps/hosted/n8n/app/externalsecret.yaml
Labels: area/kubernetes

flux: cancel checks on new revision
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
Labels: area/kubernetes

talos: hop on the train and use configs without talhelper
  .mise.toml
  kubernetes/talos/.gitignore
  kubernetes/talos/machineconfig.yaml.j2
  kubernetes/talos/mod.just
  kubernetes/talos/nodes/akane.yaml.j2
  kubernetes/talos/nodes/kasumi.yaml.j2
  kubernetes/talos/nodes/nabiki.yaml.j2
  kubernetes/talos/nodes/ryoga.yaml.j2
  kubernetes/talos/nodes/ukyo.yaml.j2
  kubernetes/talos/talconfig.yaml
  kubernetes/talos/talenv.sops.yaml
  kubernetes/talos/talsecret.sops.yaml
Labels: area/kubernetes

talos: add json schema to machine config
  kubernetes/talos/machineconfig.yaml.j2
Labels: area/kubernetes

talos: improve machine config
  kubernetes/talos/machineconfig.yaml.j2
Labels: area/kubernetes

just: add pod cleanup
  kubernetes/mod.just
Labels: area/kubernetes

intel-driver: migrate to dra/cdi
  kubernetes/apps/kube-system/intel-gpu-resource-driver/app/helmrelease.yaml
  kubernetes/apps/kube-system/intel-gpu-resource-driver/app/ocirepository.yaml
  kubernetes/apps/kube-system/intel-gpu-resource-driver/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/apps/media/jellyfin/ks.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/plex/ks.yaml
  kubernetes/apps/system/intel-device-plugins/gpu/ocirepository.yaml
  kubernetes/apps/system/intel-device-plugins/ks.yaml
  kubernetes/apps/system/intel-device-plugins/operator/helmrelease.yaml
  kubernetes/apps/system/kustomization.yaml
  kubernetes/apps/system/node-feature-discovery/rules/gpu.yaml
  kubernetes/apps/system/node-feature-discovery/rules/intel-gpu-platform-labeling.yaml
  kubernetes/components/gpu/kustomization.yaml
  kubernetes/components/gpu/resourceclaimtemplate.yaml
  kubernetes/components/namespace/namespace.yaml
Labels: area/kubernetes

nfd: use prefixed name
  kubernetes/apps/system/node-feature-discovery/rules/gpu.yaml
Labels: area/kubernetes

.github/labeler.yaml:

# Areas
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/infratructure:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/*"
